body{
    background-color: white;
}

.candidate-picture img{
    height: 200px;
    border: 5px solid black;
    position: relative;
    left:45% ;
}

img{
    border: 5px solid black;
}

#candidate_name {
    color:white; 
    text-align: center;
    background-color: rgba(0, 0, 255, 0.753);
    font-weight: normal; 
   
}

#hobbies{
    color: rgba(17, 0, 255, 0.863);
    font-size: 20pt;
}

#favorite_movies{
    font-weight: bold; 
    text-decoration: underline;
    text-align: center;
}

#movies_ranking{
    background-color:rgba(0, 0, 255, 0.767);
    font-weight: 500; 
    color: whitesmoke;
    text-align: center;
}

h2{
    color: blue;
    font-weight: normal; 
    font-size: 16pt;
}
h4{
    font-weight: bold; 
    font-size: 11pt; 
    line-height:0%;
}

#education-background{
    font-weight: bold;
}

.movie-title{
    text-align: center;
}

.comment{
    text-align: center;
}

h3{
    color: rgba(0, 17, 255, 0.836);
    font-weight: 700;
    font-size: 16;  
}

a{
    color: navy;
}

p{
    font-size: 11pt;
}

#contact-details{
    text-align: center;
}
